/* Global Reset */
html body {
  margin: 0px;
  padding: 0px;
}

/* Navbar */

nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  height: 70px;
  background-color: rgb(82, 21, 21);
  margin: 0;
}

.navlinks {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  align-content: center;
  margin: 0;
}

.navlink {
  display: flex;
  justify-content: center;
  align-content: center;
  text-decoration: none;
  padding: 5%;
  color: white;
  background-color: black;
}

.navlink div {
  height: 100%;
  width: 100%;
  text-align: center;
}

.navlink:hover {
  background-color: gray;
}

.logo-container {
  align-self: center;
}

.logo {
  width: 20%;
}

/* Banner */

.banner-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.hero-img {
  width: 100%;
  object-fit: cover;
}

h1 {
  text-align: center;
  background-color: rgb(112, 28, 28);
  margin: 0;
}

/* Greeting */
.banner-container{
    background-color: rgb(57, 57, 57);
    height: 50%;
}
#greeting {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
}

.img-container {
  width: 400px;
  height: 400px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-content: center;
}

.img-container img {
  width: 100%;
  object-fit: cover;
}


.greeting {
  padding: 20px;
  background-color: white;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
}
#imageToggler {
  background-color: yellow;
  height: 3em;
  width: 60%;
  align-self: center;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}

#instruction {
  background-color: lightgreen;
  visibility: hidden;
  width: 60%;
  align-self: center;
  border-radius: 5px;
  height: 3em;
  margin: 5px;
  padding: 5px;
}

